*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    color: darkblue;
    text-align: center;
    width: 80%;
    margin: auto;
}
p{
    font-size: 20px;
    margin-top: 20px;
    width: 80%;
    margin: auto;
}